:root {
  --rarity-yellow: rgb(255 177 63 / var(--v-rarity-opacity));
  --rarity-purple: rgb(210 143 214 / var(--v-rarity-opacity));
  --rarity-blue: rgb(66 153 225 / var(--v-rarity-opacity));
  --rarity-white: rgb(66 153 225 / var(--v-rarity-opacity));
  --v-color-rarity5: #ffe65a;
  --v-color-rarity4: #c96dff;

  --color-attribute-aero: #2fc79f;
  --color-attribute-havoc: #9a1754;
  --color-attribute-spectro: #bca81d;
  --color-attribute-electro: #a732b0;
  --color-attribute-glacio: #38b0d2;
  --color-attribute-fusion: #c72a4c;
  --color-highlight: orange;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: unset;
}

.text-legendary {
  color: rgb(255 177 63);
}

.text-rare {
  color: rgb(210 143 214);
}

.text-rarity5 {
  color: var(--v-color-rarity5);
  /* border-color: #ffe65a;
  box-shadow: 0 -10px 10px 0 rgba(255, 230, 90, 0.2);
  border-top: 2px solid #ffe65a; */
}

.text-rarity4 {
  color: var(--v-color-rarity4);
}

.border-rarity5 {
  border: 1px solid var(--v-color-rarity5);
}
