:root {
  --rarity-opacity: 0.5;

  --color-rarity5: rgb(255 177 63);
  --color-rarity4: rgb(210 143 214);

  --color-background-rarity5: rgb(255 177 63 / var(--rarity-opacity));
  --color-background-rarity4: rgb(210 143 214 / var(--rarity-opacity));
  --color-background-rarity3: rgb(66 153 225 / var(--rarity-opacity));
  --color-background-rarity2: rgb(66 153 225 / var(--rarity-opacity));

  --color-attribute-aero: #2fc79f;
  --color-attribute-havoc: #9a1754;
  --color-attribute-spectro: #bca81d;
  --color-attribute-electro: #a732b0;
  --color-attribute-glacio: #38b0d2;
  --color-attribute-fusion: #c72a4c;
  --color-highlight: orange;
}

/* ::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #241e2f;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
} */

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: unset;
}

.text-legendary {
  color: rgb(255 177 63);
}

.text-rare {
  color: rgb(210 143 214);
}

.text-rarity5 {
  color: var(--color-rarity5);
}

.text-rarity4 {
  color: var(--color-rarity4);
}

.border-rarity5 {
  border-color: var(--color-rarity5) !important;
  box-shadow: 0 -10px 10px 0 rgba(255, 230, 90, 0.2) !important;
}

.border-rarity4 {
  border-color: var(--color-rarity4) !important;
  box-shadow: 0 -10px 10px 0 rgba(255, 230, 90, 0.2) !important;
}

.bg-rarity5 {
  background-color: var(--color-background-rarity5) !important;
}

.bg-rarity4 {
  background-color: var(--color-background-rarity4) !important;
}

.leaflet-attribution-flag {
  display: none !important;
}

.z-1 {
  z-index: 1;
}
