@use 'vuetify' with (
  $color-pack: false
);

/* timeline */
.timeline {
  .month-title {}

  .date-bar {
    width: 1px;
    background-color: rgba(var(--v-border-color), var(--v-border-opacity));
  }

  .now-bar {
    width: 2px;
    height: calc(100% - 10px);
    position: absolute;
    top: 10px;
  }
}
